@import "tailwindcss";

@font-face {
  font-family: "ClashGrotesk-Bold";
  font-style: normal;
  font-weight: 500; /* Adjust weight based on actual font */
  src: url("./FONTS/ClashGrotesk-Medium.otf") format("opentype");
}

@font-face {
  font-family: "ClashGrotesk-Light";
  src: url("../FONTS/ClashGrotesk-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.design-class {
  font-family: "ClashGrotesk-Bold", sans-serif;
}

.paragraph,
.btn {
  font-family: "ClashGrotesk-Light", sans-serif;
}

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
